.card {
  width: 100%;
  background-color: var(--first-color-light);
  justify-self: center;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/*========== VARIABLES DARK THEME ==========*/
.card-img {
  width: 100%;
  height: 150px;
}

.card-data {
  padding: 1rem 2rem 3rem;
}

.card-title {
  font-size: var(--h2-font-size);
  margin-bottom: .8rem;
}

.card-subtitle {
  margin-bottom: 2.4rem;
  color: var( --text-color-light);
}

.card-details {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  
}

.card-details li span {
  color: var(--text-color-light);
  margin-left: .8rem;
  font-size: var(--small-font-size);
}

.card-details li i {
  padding: .2rem;
  background-color: var(--secondary-color);
  border-radius: .5rem;
}

.home-not-found {
  font-size: 3.6rem;
  text-align: center;
  margin-block: 12rem;
  font-weight: var(--font-semi-bold);
  color: var(--first-color-alt);
}