.home-cards {
  padding-top: 2.4rem;
  grid-template-columns: 300px;
  justify-content: center;
  row-gap: 4rem;
}

/*=============== BREAKPOINTS ===============*/
/* for large devices */
@media screen and (min-width: 961px) {
  .home-cards {
    grid-template-columns: repeat(2, 300px);
    column-gap: 4rem;
  }
}



