.serch-input {
  width: 100%;
  background-color: var(--first-color-light);
  padding: 1rem 0 1rem .8rem;
  font-size: var(--small-font-size);
  border-radius: .5rem;
}

.serch-input::placeholder {
  text-transform: capitalize;
}