/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/*=============== REMIX ICON ===============*/
@import 'remixicon/fonts/remixicon.css';

:root {
  /*========== colors ==========*/
  --first-color: #9747ff;
  --first-color-alt: #3a1c63;
  --first-color-light: #F0E3FF;
  --secondary-color: #D4B3FF;
  --text-color: #090410;
  --body-color: #F4EBFF;
  --border-color:rgba(151, 71, 255, .4);
  --border-color-shadow: rgb(151 71 255 / 10%);
  --error-color: #E62D2D;
  /*========== font & typography ==========*/
  --body-font: "Fredoka", sans-serif;
  --h1-font-size: 3.2rem;
  --h2-font-size: 2.8rem;
  --h3-font-size: 2.4rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  /*========== font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

@media screen and (min-width: 960px) {
  :root {
    --h1-font-size: 5.6rem;
    --h2-font-size: 4rem;
    --h3-font-size: 2.8rem;
    --normal-font-size: 1.8rem;
    --small-font-size: 1.6rem;
  }
}

/*========== VARIABLES DARK THEME ==========*/
body.dark-theme {
  --first-color: rgb(80, 0, 184);
  --first-color-alt: #B99BE4;
  --first-color-light: #0D001C;
  --secondary-color: #21004D;
  --text-color: #F4EFFB;
  --body-color: #090014;
  --border-color:rgba(80, 0, 184, .4);
  --border-color-shadow: rgb(80 0 184 / 10%);
  --error-color: #D21919;
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
  line-height: 2.7rem;
  letter-spacing: 1px;
  font-weight: var(--font-regular);
}

input,
button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: var(--font-regular);
}