/*=============== HEADER & NAV ===============*/
.nav {
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  text-decoration: none;
  margin-right: 2.4rem;
}

.nav-close,
.nav-toggle {
  font-size: 1.8rem;
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  cursor: pointer;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* navigation for mobile devices  */
@media screen and (max-width: 960px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(245, 237, 255, .3);
    width: 100%;
    padding-block: 6.4rem;
    backdrop-filter: blur(2rem);
    transition: all .4s;
  }
}

.nav-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.nav-link {
  position: relative;
  color: var(--first-color-alt);
  font-weight: var(--font-medium);
  font-size: 2rem;
  text-decoration: none;
}

/* show menu  */
.show-menu {
  top: 0;
}

.nav-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8rem;
}

.nav-login,
.nav-signup {
  text-decoration: none;
}

.nav-login {
  color: var(--first-color-alt);
  font-weight: var(--font-medium);
}

.nav-signup {
  background-color: var(--first-color);
  padding: .8rem 3.2rem;
  border-radius: .5rem;
  color: var(--body-color);
}

.nav-signup:hover {
  transform: translate(0, -3px);
  box-shadow: 0 2rem 8rem -1rem var(--first-color);
}