.form-container {
  margin-block: 3.2rem;
  max-width: 500px;
}

.form-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-light);
}

.fullname-container {
  column-gap: .8rem;
}

.address-container {
  grid-template-columns: 2fr 1fr;
  gap: .8rem;
}

.input-group {
  width: 100%;
  margin-top: 1.6rem;
  line-height: 2rem;
}

.form-btns-container {
  margin-top: 6.2rem;
  grid-template-columns: repeat(2, max-content);
  justify-items: center;
}

.btn-back {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

/*=============== BREAKPOINTS ===============*/
/* for medium devices */
@media screen and (min-width: 540px) {
  .form-container {
    margin-inline: auto;
  }

  .form-btns-container {
    justify-items: start;
    column-gap: 1.2rem;
  }

  .fullname-container {
    grid-template-columns: repeat(3, 1fr);
  }
}